<div class="row">

<%= form_for(@beacon) do |f| %>
  <% if @beacon.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@beacon.errors.count, "error") %> prohibited this beacon from being saved:</h2>

      <ul>
      <% @beacon.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="col-lg-6">
    <div class="form-group">
      <%= f.label :name, 'Service Name' %>
      <%= f.text_field :name, :class => 'form-control' %>
      <p class="help-block">Please input the name of the service</p>
    </div>
    <div class="form-group">
      <%= f.label :description, 'Description' %>
      <%= f.text_area :description, :class => 'form-control', :rows => '3' %>
    </div>
  </div>
  <!-- /.col-lg-6 (nested) -->
  <div class="col-lg-6">
    <div class="form-group">
      <%= f.label :uuid, 'Beacon UUID' %>
      <%= f.text_field :uuid, :class => 'form-control' %>
      <p class="help-block">UUID</p>
    </div>
    <div class="form-group">
      <%= f.label :major, 'Major' %>
      <%= f.number_field :major, :class => 'form-control' %>
    </div>
    <div class="form-group">
      <%= f.label :minor, 'Minor' %>
      <%= f.number_field :minor, :class => 'form-control' %>
    </div>
    <div class="form-group">
      <%= f.label :link, 'Service URL' %>
      <%= f.text_field :link, :class => 'form-control' %>
      <p class="help-block">This is the URL associated to the beacon or the URL of an app to be used with it.</p>
    </div>
    <div class="form-group">
      <div class="checkbox">
        <label>
            <input type="checkbox" value="">Check me if it's an App.</label>
      </div>
    </div>

    <div class="form-group">
      <%= f.label :address, 'Address' %>
      <%= f.text_field :address, :class => 'form-control' %>
    </div>
    <div class="form-group">
      <%= f.label :lng, 'Logitude' %>
      <%= f.text_field :lng, :class => 'form-control' %>
    </div>
    <div class="form-group">
      <%= f.label :lat, 'Latitude' %>
      <%= f.text_field :lat, :class => 'form-control' %>
    </div>
    <div class="form-group">
      <button type="button" class="btn btn-success">I'm there!</button>
      <button type="button" class="btn btn-success">Map</button>
    </div>
    <div class="form-group">
      <label>Which Industry?</label>
      <select class="form-control">
        <option>Retail</option>
        <option>Government</option>
        <option>Museum</option>
        <option>Hopsitality</option>
        <option>Education</option>
        <option>Entertainment</option>
      </select>
    </div>
    <div class="form-group">
        <div class="checkbox">
          <label>
            <input type="checkbox" value="" checked>Do you want to be discovered by OpenBeacon App?</label>
        </div>
    </div>

    <%= f.submit class: 'btn btn-primary' %>
    <%= f.submit "Clear", class: 'btn btn-danger', :type => "reset" %>

  </div>
  <!-- /.col-lg-6 (nested) -->

<% end %>

</div>
<!-- /.row (nested) -->
