<!DOCTYPE html>
<html>
<head>
  <title>The Beacons Around You | Open Beacon Directory | beaconHub.org</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <% if current_page?(map_path) %>
    <%= javascript_include_tag '//maps.google.com/maps/api/js?v=3.13&amp;sensor=false&amp;libraries=geometry' %>
    <%= javascript_include_tag '//google-maps-utility-library-v3.googlecode.com/svn/tags/markerclustererplus/2.0.14/src/markerclusterer_packed.js' %>
  <% end %>
</head>
<body>

    <div id="wrapper">

      <!-- Navigation -->
      <nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <%= link_to 'Open Beacon Directory', root_path, :class => 'navbar-brand' %>
        </div>
        <!-- /.navbar-header -->

        <ul class="nav navbar-top-links navbar-right">
          <% if user_signed_in? %>
            <li>Logged in as <strong><%= current_user.email %></strong></li>
          <% end %>
          <li class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" href="#">
              <i class="fa fa-user fa-fw"></i>  <i class="fa fa-caret-down"></i>
            </a>
            <ul class="dropdown-menu dropdown-user">
              <% if user_signed_in? %>
                <li>
                  <%= link_to '<i class="fa fa-user fa-fw"></i>User profile'.html_safe, edit_user_registration_path %>
                </li>
                <li>
                  <a href="#"><i class="fa fa-gear fa-fw"></i> Settings</a>
                </li>
                <li class="divider"></li>
                <li>
                  <%= link_to '<i class="fa fa-sign-out fa-fw"></i>Logout'.html_safe, destroy_user_session_path, method: :delete  %>
                </li>
              <% else %>
                <li><%= link_to "Sign up", new_user_registration_path, :class => 'navbar-link'  %></li>
                <li><%= link_to "Login", new_user_session_path, :class => 'navbar-link'  %></li>
              <% end %>
            </ul>
            <!-- /.dropdown-user -->
          </li>
          <!-- /.dropdown -->
        </ul>
        <!-- /.navbar-top-links -->

        <%= render 'sidemenu' %>
      </nav>

      <div id="page-wrapper">
        <%= yield %>
      </div>
      <!-- /#page-wrapper -->

    </div>
    <!-- /#wrapper -->

</body>
</html>
